<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="TrafficLightIntelligence" value="L0" />
        <add key="CarsRateA" value="1" />
        <add key="CarsRateB" value="1" />
        <add key="CarsRateC" value="1" />
        <add key="CarsRateD" value="1" />
        <add key="CarsPriority" value="NoPriority" />
    </appSettings>
</configuration>